Programming Project 2/hibernateProjectTesting/hibernateProjectTesting/bin/META-INF/persistence.xml
Programming Project 2/hibernateProjectTesting/hibernateProjectTesting/bin/META-INF/persistence.xml
Programming Project 2/hibernateProjectTesting/hibernateProjectTesting/bin/META-INF/persistence.xml